@import "tailwindcss";

@theme {
  --color-bg: #0c0a10;
  --color-panel: #16131c;
  --color-border: #271f30;
  --color-accent: #a855f7;
  --color-text: #f1edf5;
  --color-text-muted: #948aa3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
